apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-new-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/issuer: letsencrypt-staging

spec:
  tls:
  - hosts:
    - app.dsei.foundry.codes
    secretName: dsei-app-tls
  rules:
  - host: app.dsei.foundry.codes
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: dsei-app
            port:
              number: 80
